name: Automated Report

on:
  schedule:
    - cron: "0 11 * * *"  
  workflow_dispatch:      

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        env:
          DSD_USERNAME: ${{ secrets.DSD_USERNAME }}
          DSD_PASSWORD: ${{ secrets.DSD_PASSWORD }}
          GMAIL_ADDRESS: ${{ secrets.GMAIL_ADDRESS }}
          GMAIL_RECIPIENT: ${{ secrets.GMAIL_RECIPIENT }}
          GMAIL_TOKEN: ${{ secrets.GMAIL_TOKEN }}
        run: python main.py

      - name: Upload debug HTML
        if: always() # uploads even if previous steps fail
        uses: actions/upload-artifact@v4
        with:
          name: dashboard-debug
          path: page_debug.html
